.card-header{
    background-color:#20c997 !important;
    color:white;
    font-weight: bold;
}

.autocomplete-input, .autocomplete-result{
    background-image: none !important;
    background-color: white !important;
}

.cls-list-group{
    max-height: 300px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}

hr {
    border: 2px solid green;
  }

  h3, h4, h6 {
    text-align: center;
  }
  

  .wrapper{
    min-height: 200px;   
    padding: 10px;
    height: 350px;
  }

  .flex {
    display: flex;
}

.CodeMirror {
  font-family: Arial, monospace;
  font-size: 16px;
  height: 400px !important;

  }

.dropdown-item{
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
}

.dropdown-content{
  max-width: 700px !important;
}

.pointer {
  cursor: pointer;
}

.nav-item{
font-weight: bold;
}

.nav-item a
{
 color: rgba(255, 255, 255, 0.5) !important;
}

.dropdown-menu
{
  background-color: #343a40;
}

.dropdown-item:hover
{
  background-color:gray !important;
}


footer {
  background:#77808a ;
  color: white; 
  flex-shrink: 0;
  margin-bottom: -10px;
  padding: 2px;
  text-align: center;
  height: 30px;

}

a {
  color:inherit;
  text-decoration: none;
 }

.logo
{
  height: 26px;
  margin-right: 10px;
}

.rv {
  margin: 8px;
  padding: 4px;
  min-height: 800px;
}


